{% extends 'base.html.twig' %}


{% block body %}
<div class="container my-5">
    <h1>{{category.name}}</h1>
    Cette catégorie contient {{ category.products|length }} produits

    <div class="row">        
        {% for product in category.products %}
            <div class="col-md-3 text-center">
                <img src="/uploads/{{ product.illustration }}" class="img-fluid">
                <strong>{{ product.name }}</strong>
                <span class="d-block">{{ product.getPriceWt }} €</span>
            </div>
        {% endfor %}        
    </div>

    

</div>
{% endblock %}
